---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

My main research focuses on labor economics, education and gender. 

Before grad school,  my RA work took me to the most exciting field works. 
Here are some insights: 

 *  [School Choice in New Haven] 
 *  [DFM Peru: Information and Education] 
 *  [AVE Dominican Republic: Learning the Value of Education]


Some articles in Spanish:
* [Nuevo Paradigmas para la Migracion Interna Reciente] - Revista Economica, (Lima-Peru)

Articulos para Semana Economica: 
* [Tipo de Cambio](https://semanaeconomica.com/article/economia/118706-el-tipo-de-cambio-en-el-sube-y-baja/)
* [Presupuesto Publico] (https://semanaeconomica.com/article/economia/123394-proyectando-el-2014-con-el-presupuesto-publico/) (Lima-Peru)

{% include base_path %}

{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}

